<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="root">
				{{ include('layouts/header.html.twig') }}
				{{ include('layouts/top_nav.html.twig') }}
				<main class="pt-3 pb-3">
					<div id="content" class="shadow d-flex justify-content-center bg-light container-xl p-3 align-items-center flex-column">
						{% block content %}{% endblock %}
					</div>
				</main>
				{{ include('layouts/footer.html.twig') }}
			</divid="root">
		{% endblock %}
	</body>
</html>
