{% extends 'layouts/content.html.twig' %}
{% block title %}New Team Member
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('croppie') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('team') }}
	{{ encore_entry_script_tags('croppie') }}
{% endblock %}
{% block content %}

	<div class="logo-headline w-100 d-flex mt-5 mb-3 align-self-start">
		<div class="img m-2 d-flex flex-wrap  align-self-center">
			{{ source('svg/brand-logo.svg') }}
		</div>
		<div class="w-75 d-flex flex-wrap align-self-end">
			<h1 class="m-0">Team Profil - NEW</h1>
		</div>
	</div>

	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	{{ form_start(teamForm) }}
	<div style="max-width:500px;" class="row">
		<div class="input-group  mb-3">
			{{ form_label(teamForm.first_name, 'First name', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(teamForm.first_name, {'attr': {'class': 'form-control',"aria-label":"first name"}}) }}
		</div>
		<div class="input-group mb-3">
			{{ form_label(teamForm.last_name, 'Last name', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(teamForm.last_name, {'attr': {'class': 'form-control',"aria-label":"last name"}}) }}
		</div>
		<div class="input-group mb-3">
			{{ form_label(teamForm.role, 'Role', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(teamForm.role, {'attr': {'class': 'form-control',"aria-label":"role"}}) }}
		</div>
		<div class="input-group mb-3">
			{{ form_label(teamForm.photo, 'Photo', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(teamForm.photo, {'attr': {'class': 'form-control',"aria-label":"photo"}}) }}
		</div>
		<div class="input-group">
			{{ form_label(teamForm.description, 'Description', {'label_attr': {'class': 'input-group-text'}}) }}
			{{ form_widget(teamForm.description, {'attr': {'class': 'form-control',"aria-label":"Description"}}) }}
		</div>
	</div>

	<button type="submit" class="my-3 btn btn-success">Save</button>

	{{ form_end(teamForm) }}

	<div class="modal fade" id="croppie-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="demo-basic"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Understood</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
