{% extends 'layouts/content.html.twig' %}
{% block title %}News
{% endblock %}
{% block content %}
	<div class="logo-headline d-flex mt-5 mb-3 align-self-center">
		<div class="img m-2 d-flex flex-wrap  align-self-center">
			{{ source('svg/brand-logo.svg') }}
		</div>
		<div class="w-25 h-100 d-flex align-self-end">
			<h1 class="m-0">News</h1>
		</div>
	</div>
	{% block page_contents %}
		<div style="max-width:700px" class="list-group">
			{% for post in posts %}
				<a href="/news/{{post.id}}" class="m-2 px-4 py-5 list-group-item list-group-item-action d-flex flex-row flex-wrap justify-content-start" aria-current="true">
					<div style="flex:3 3" class="align-self-start">
						<h5 class="mb-1">{{ post.post_title }}</h5>
						<small>{{ post.updated_at | date("m/d/Y","Europe/Paris") }}</small>
						<p class="mb-1 mt-2">{{ post.post_excerpt }}</p>
						<small>
							<b>Author:</b>
							{{ post.first_name }}
							{{ post.last_name }}</small>
					</div>
					<div style="flex:1 1" class='mx-2 p-2 bg-white d-flex border border-secondary flex-column justify-content-center'>
						<picture>
							{{ "/images/dynamic/posts#{asset(post.post_thumb)}" | responsive_image }}
							<img src="/images/dynamic/posts{{asset(post.post_thumb)}}" class="w-100 card-img-top bg-white" alt="{{post.post_thumb}} {{post.post_thumb}}">
						</picture>
					</div>

				</a>

			{% endfor %}
		</div>
	{% endblock %}
{% endblock %}
