{% extends 'layouts/content.html.twig' %}
{% block title %}Team
{% endblock %}
{% block content %}
	<div class="logo-headline  w-100  d-flex mt-5 mb-3 align-self-start">
		<div class="img m-2 d-flex flex-wrap  align-self-center">
			{{ source('svg/brand-logo.svg') }}
		</div>
		<div class="w-75 d-flex flex-wrap  align-self-end">
			<h1 class="m-0">Team</h1>
		</div>
	</div>
	{% block page_contents %}
		<div class="p-0 container-xl">
			<div class="row row-cols-sm-1 row-cols-lg-2 row-cols-2 g-5 justify-content-around">
				{% for member in team %}
					<div class="col">
						<div class="card">
							<picture>
								{{ "/images/dynamic/team#{asset(member.photo)}" | responsive_image }}
								<img src="/images/dynamic/team{{asset(member.photo)}}" class="team card-img-top" alt="{{member.firstName}} {{member.lastName}}">
							</picture>
							<div class="card-body">
								<h5 class="card-title">{{member.firstName}}
									{{member.lastName}}</h5>
								<h6 class="card-subtitle mb-2 text-muted">{{member.department}}</h6>
								<a href="/about/team/{{member.id}}" class="btn btn-primary">Details</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endblock %}
	{% endblock %}
